* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 40px;
  background-color: rgb(214, 223, 225);
}

.section {
  width: 400px;
  min-height: 450px;
  margin: 0 auto;
}

.calculator-wrapper {
  max-width: 390px;
  margin: 0 auto;
  margin-top: 200px;
  padding-left: 20px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(4, 90px);
}

@media (max-width: 768px) {
  .calculator-wrapper {
    margin-top: 100px;
  }
}

.operations-field {
  width: 350px;
  background-color: rgb(214, 223, 225);
  border-radius: 5px 5px 0 0;
  padding-right: 10px;
  margin-top: 20px;
  grid-column: 1/-1;
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  font-size: 20px;
  min-height: 24px;
  color: rgb(148, 150, 151);
}

.current-operations-field {
  background-color: rgb(214, 223, 225);
  width: 350px;
  min-height: 60px;
  padding: 0 10px 0 0;
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 300;
  border-radius: 0 0 5px 5px;
  grid-column: 1/-1;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: center;
  word-break: break-all;
}

.open-bracket {
  color: rgb(148, 150, 151);
  font-size: 14px;
  margin-right: 62px;
}

.closing-bracket {
  color: rgb(148, 150, 151);
  font-size: 14px;
  margin-right: 38px;
}

.buttons-and-additional-operations {
  padding: 0;
  margin: 0;
  grid-column: 1/4;
}

.operations {
  grid-column: 4/-1;
  grid-row: 3/5;
}

.button-parentheses,
.additional-operation,
.result-button,
.reset-operation,
.del-one-char,
.button-positive-negative,
.button-number,
.button-operation {
  box-shadow: 0px 0px 10px 0px #888f91;
  font-size: 20px;
  padding: 0;
  margin: 0;
  width: 80px;
  height: 50px;
  cursor: pointer;
}

.button-parentheses {
  padding-left: 38px;
}

.button {
  border: none;
  border-radius: 5%;
  background: linear-gradient(to bottom, rgb(218, 235, 241) 5%, rgb(187, 201, 206) 100%);
}

.reset-operation {
  background: linear-gradient(to bottom, rgb(255, 98, 0) 5%, rgb(171, 63, 10) 100%);
}

.button-positive-negative,
.button-number {
  background: linear-gradient(to bottom, rgb(238, 246, 248) 5%, rgb(193, 202, 203) 100%);
}

.result-button {
  background: linear-gradient(to bottom, rgba(44, 76, 255, 0.696) 5%, rgba(70, 96, 245, 0.463) 100%);
}

@media (max-width: 1024px) {
  .button:active {
    background: linear-gradient(to bottom, rgb(187, 201, 206) 5%, rgb(218, 235, 241) 100%);
  }

  .reset-operation:active {
    background: linear-gradient(to bottom, rgb(171, 63, 10) 5%, rgb(255, 98, 0) 100%);
  }

  .button-positive-negative:active,
  .button-number:active {
    background: linear-gradient(to bottom, rgb(193, 202, 203) 5%, rgb(238, 246, 248) 100%);
  }

  .result-button:active {
    background: linear-gradient(to bottom, rgb(70, 96, 245, 0.463) 5%, rgb(44, 76, 255, 0.696) 100%);
  }
}

@media (min-width: 1024px) {
  .button:hover {
    background: linear-gradient(to bottom, rgb(187, 201, 206) 5%, rgb(218, 235, 241) 100%);
  }

  .reset-operation:hover {
    background: linear-gradient(to bottom, rgb(171, 63, 10) 5%, rgb(255, 98, 0) 100%);
  }

  .button-positive-negative:hover,
  .button-number:hover {
    background: linear-gradient(to bottom, rgb(193, 202, 203) 5%, rgb(238, 246, 248) 100%);
  }

  .result-button:hover {
    background: linear-gradient(to bottom, rgb(70, 96, 245, 0.463) 5%, rgb(44, 76, 255, 0.696) 100%);
  }
}
